// FONTS:
// MuseoModerno
@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Thin.woff2') format('woff2'),
        url('../fonts/MuseoModerno-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

// MuseoModernoItalic
@font-face {
    font-family: 'MuseoModernoItalic';
    src: url('../fonts/MuseoModerno-ThinItalic.woff2') format('woff2'),
        url('../fonts/MuseoModerno-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

// BlackOpsOne
@font-face {
    font-family: 'BlackOpsOne';
    src: url('../fonts/BlackOpsOne-Regular.woff2') format('woff2'),
        url('../fonts/BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// BACKGROUND IMAGE
// '../../public/img/background.png'


// IMPORTING SCSS FILES:
@import './AboutUs.scss';
@import './Footer.scss';
@import './GunPage.scss';
@import './Header.scss';
@import './Modal.scss';
@import './Trackers.scss';


// GLOBAL COLOURS:
// Background Colour 1: #262626 (opacity down = #262626f9)
// Font Colour: #D9D9D9

// DEFINING VARIABLES:
$font: BlackOpsOne;
$font2: MuseoModerno, MuseoModernoItalic;

// SCSS:
html {
    box-sizing: border-box;
    font-family: $font, $font2;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font;
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url('../../public/img/background.png');
    background-position: 50%;
    background-size: auto;
    background-repeat: repeat-y;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.orion_tracker_div {
    display: flex;
    justify-content: center;
}

.mastery_trackers_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}