// BlackOpsOne
@font-face {
    font-family: 'BlackOpsOne';
    src: url('../fonts/BlackOpsOne-Regular.woff2') format('woff2'),
        url('../fonts/BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// VARIABLES:
$font: BlackOpsOne;
$background_color: #262626c9;
$gun_component_background_color: rgb(25,25,25);
$gun_component_border_color: #D9D9D9;
$gun_component_divider_color: #D9D9D9;
$gun_class_text_color: #D9D9D9;
$gun_component_text_color: #D9D9D9;
$gun_component_slider_color1: #80FF00;
$gun_component_slider_color3: #ffffff;
$gun_component_slider_color2: #000000;

// MIXINS
@mixin webkit_and_moz_track {
    // Style:    
    background: linear-gradient(90deg, $gun_component_slider_color2 0%, $gun_component_slider_color1 35%, white 100%);
    border-radius: 4px;
}

@mixin webkit_and_moz_thumb {
    // Style:
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient($gun_component_slider_color3 35%, $gun_component_slider_color2 100%);
    border: none;
    border-radius: 4px;
}

@mixin webkit_and_moz_mastery_track {
    // Style:
    background: linear-gradient(90deg, white 0%, $gun_component_slider_color1 35%, $gun_component_slider_color2 100%);
    border-radius: 4px;
}

@mixin webkit_and_moz_mastery_thumb {
    // Style:
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient($gun_component_slider_color2 35%, $gun_component_slider_color3 100%);
    border: none;
    border-radius: 4px;
}

//Global styles
.gun_trackers {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.gun_class_section {
    //Style:
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: $background_color;

    // .gun_class_section_divider {
    //     //Style
    //     background: $gun_component_divider_color;
    //     border-radius: 10px;
    // }

    .gun_class_section_title {
        // Layout:
        // display: flex;
        // flex-direction: column;
        margin-left: 43px;

        //Style:
        color: $gun_class_text_color;
        font-family: $font;
        text-decoration: underline;
    }

    .gun_class_guns {
        // Layout:
        display: flex;
        align-items: center;
        overflow-x: scroll;
        white-space: nowrap;
        
    }

    // Scrollbar Styling:
    .gun_class_guns {
        scrollbar-color: $gun_component_slider_color1 $gun_component_background_color;
        scroll-snap-type: mandatory;
        
        &::-webkit-scrollbar {
            background-color: $gun_component_background_color;
            border-radius: 30px;
            
        }

        &::-webkit-scrollbar-thumb {
            background: linear-gradient(90deg, $gun_component_slider_color1 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, $gun_component_slider_color1 100%);
            border-radius: 30px;
        }

    }

    // GunComponent styling:
    .gun_component {
        // Layout:
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin-right: 10px;
        // width: 90%;

        // Style:
        border: 2.4px solid $gun_component_border_color;
        background: $gun_component_background_color;

        .gun_name {
            // Style:
            color: $gun_component_text_color;
            font-family: $font;
            text-decoration-line: underline;
            margin-bottom: 10px;
        }

        .gun_challenges {
            // Layout:
            display: flex;
            flex-direction: column;
            // align-items: center;
            padding: 5px;
            width: 250px;

            // Basic Challenge Styling
            .gun_basic_challenge {
                // Layout:
                display: flex;
                // flex-direction: column;
                align-items: flex-start;
                

                // Basic Challenge Text Styling:
                .gun_basic_challenge_text {
                    // Style:
                    color: $gun_component_text_color;
                    text-align: center;
                    font-family: $font;
                    margin-left: 10px;
                }
            }

            // Divider Styling:
            .gun_challenge_divider {
                width: 90%;
                height: 2px;
                margin: 5px;

                // Style:
                background: $gun_component_divider_color;
                border-radius: 100px;
            }

            // Mastery Challenge Styling
            .gun_mastery_challenge {
                // Layout:
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                // Mastery Challenge Text Styling:
                .gun_mastery_challenge_text {
                    // Style:
                    color: $gun_component_text_color;
                    text-align: center;
                    font-family: $font;
                    margin-left: 10px;
                }
            }
        }

        // Tracking (0/50) text styling
        .gun_slider_tracking {
            //Style:
            font-family: $font;
            font-size: 10px;
            color: $gun_component_text_color;
            padding-top: 5px;
        }

        .gun_slider_tracking_mastery {
            //Style:
            font-family: $font;
            font-size: 10px;
            color: $gun_component_text_color;
            padding-top: 5px;
            padding-left: 5px;
            width: 10%;
        }

    }

    // Basic Challenge Slider Styling:
    .gun_basic_slider_with_tracking {
        // Layout:
        display: flex;
        

        .gun_basic_slider {
            // Layout:
            width: 90%;

            // Slider Styles:
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;

            // Slider Track Style
            &::-webkit-slider-runnable-track {
                height: 2px;
                
                @include webkit_and_moz_track;
            }

            &::-moz-range-track {            
                height: 2px;
                @include webkit_and_moz_track;
            }

            // Slider Thumb Style
            &::-webkit-slider-thumb {
                height: 10px;
                width: 10px;
                margin-top: -3px;
                @include webkit_and_moz_thumb;
            }

            &::-moz-range-thumb {
                height: 10px;
                width: 10px;
                @include webkit_and_moz_thumb;
            }

            // Slider Hover & Active Style
            &::-webkit-slider-thumb:active {
                background: black;
            }

            &::-webkit-slider-thumb:hover {
                background: black;
            }

            &::-moz-range-thumb::active {
                background: black;
            }

            &::-moz-range-thumb:hover {
                background: black;
            }

        }

        // CHECKBOX STYLING WILL GO HERE:


    }

    // Mastery Challenge Slider Styling:
    .gun_mastery_slider_with_tracking {
        // Layout:
        display: flex;
        width: 95%;


        .gun_mastery_slider {
            // Layout:        
            width: 300px;
            

            // Slider Styles:
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;

            // Slider Track Style
            &::-webkit-slider-runnable-track {
                height: 4px;
                
                @include webkit_and_moz_mastery_track;
            }

            &::-moz-range-track {
                height: 4px;
                @include webkit_and_moz_mastery_track;
            }

            // Slider Thumb Style
            &::-webkit-slider-thumb {
                height: 10px;
                width: 10px;
                margin-top: -3px;
                @include webkit_and_moz_mastery_thumb;
            }

            &::-moz-range-thumb {
                height: 10px;
                width: 10px;
                @include webkit_and_moz_mastery_thumb;
            }

            // Slider Hover & Active Style
            &::-webkit-slider-thumb:active {
                background: black;
            }

            &::-webkit-slider-thumb:hover {
                background: black;
            }

            &::-moz-range-thumb::active {
                background: black;
            }

            &::-moz-range-thumb:hover {
                background: black;
            }

        }
    }
}
.gun_page_top {
    background-color: $background_color;
    border-radius: 10px;

    .gun_page_top_tracker_and_title {
        // Layout:
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 150px;

        .gun_page_top_title {
            // Style:
            color: $gun_component_text_color;
        }
    }
}



// //Min 768px sizes:
// @media (min-width: 768px) {
//     .gun_class_section {
//         gap: 10px;

//         .gun_class_section_divider {
//             width: 720px;
//             height: 5.6px;
//         }

//         .gun_class_section_title {
//             width: 720px;
//             font-size: 40px;
//             margin: 0;
//             margin-top: 20px;
//         }

//         .gun_class_guns {
//             gap: 20px;
//             width: 720px;
//         }

//         // Gun Component :
//         .gun_component {
//             width: 300px;
//             height: auto;
//             padding: 8px;
//             margin: 0;
//             margin-bottom: 30px;
//             // gap: 10px;

//             .gun_name {
//                 width: 260px;
//                 font-size: 24px;
//             }

//             .gun_challenges {
//                 gap: 8px;

//                 // Basic Challenge:
//                 .gun_basic_challenge {
//                     gap: 8px;

//                     // Basic Challenge Text:
//                     .gun_basic_challenge_text {
//                         font-size: 14px;
//                     }
//                 }

//                 // Divider:
//                 .gun_challenge_divider {
//                     width: 300px;
//                     height: 5.6px;
//                     margin-top: 10px;
//                     margin-bottom: 10px;
//                 }

//                 // Mastery Challenge:
//                 .gun_mastery_challenge {
//                     gap: 8px;

//                     // Mastery Challenge Text:
//                     .gun_mastery_challenge_text {
//                         font-size: 14px;
//                     }
//                 }
//             }

//             // Tracking (0/50) text styling
//             .gun_slider_tracking {
//                 font-size: 10px;
//                 width: 10%;
//             }
//         }

//         // Basic Challenge Slider Styling:
//         .gun_basic_slider_with_tracking {
//             // width: 100%;
//             height: auto;

//             .gun_basic_slider {
//                 // width: 260px;

//                 &::-webkit-slider-runnable-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }


//         }

//         // Mastery Challenge Slider Styling:
//         .gun_mastery_slider_with_tracking {
//             width: 300px;

//             .gun_mastery_slider {
//                 width: 260px;
//                 height: 13px;

//                 &::-webkit-slider-runnable-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }
//         }
//     }

//     .gun_page_top {
//         .gun_page_top_tracker_and_title {
//             .gun_page_top_title {
//                 font-size: 30px;
//                 width: 400px;
//             }
//         }
//     }
// }

// // Below 768px sizes:
// @media (max-width: 767px) {
//     .gun_class_section {
//         gap: 10px;

//         .gun_class_section_divider {
//             width: 400px;
//             height: 5.6px;
//         }

//         .gun_class_section_title {
//             width: auto;
//             font-size: 30px;
//             margin: 0;
//             margin-top: 20px;
//         }

//         .gun_class_guns {
//             gap: 20px;
//             width: 400px;
//         }

//         // Gun Component :
//         .gun_component {
//             width: 200px;
//             height: auto;
//             padding: 8px;
//             margin: 0;
//             margin-bottom: 30px;
//             // gap: 10px;

//             .gun_name {
//                 width: 180px;
//                 font-size: 18px;
//             }

//             .gun_challenges {
//                 gap: 8px;

//                 // Basic Challenge:
//                 .gun_basic_challenge {
//                     gap: 8px;

//                     // Basic Challenge Text:
//                     .gun_basic_challenge_text {
//                         font-size: 10px;
//                     }
//                 }

//                 // Divider:
//                 .gun_challenge_divider {
//                     width: 180px;
//                     height: 5.6px;
//                     margin-top: 10px;
//                     margin-bottom: 10px;
//                 }

//                 // Mastery Challenge:
//                 .gun_mastery_challenge {
//                     gap: 8px;

//                     // Mastery Challenge Text:
//                     .gun_mastery_challenge_text {
//                         font-size: 10px;
//                     }
//                 }
//             }

//             // Tracking (0/50) text styling
//             .gun_slider_tracking {
//                 font-size: 10px;
//             }
//         }

//         // Basic Challenge Slider Styling:
//         .gun_basic_slider_with_tracking {
//             // width: 100%;
//             height: auto;

//             .gun_basic_slider {
//                 // width: 160px;

//                 &::-webkit-slider-runnable-track {
//                     width: 160px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 160px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }


//         }

//         // Mastery Challenge Slider Styling:
//         .gun_mastery_slider_with_tracking {
//             width: 200px;

//             .gun_mastery_slider {
//                 width: 160px;
//                 height: 13px;

//                 &::-webkit-slider-runnable-track {
//                     width: 160px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 160px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }
//         }
//     }

//     .gun_page_top {
//         .gun_page_top_tracker_and_title {
//             .gun_page_top_title {
//                 font-size: 25px;
//                 width: 340px;
//             }
//         }
//     }
// }

// // Above 1024px sizes:
// @media (min-width: 1024px) {
//     .gun_class_section {
//         gap: 10px;

//         .gun_class_section_divider {
//             width: 800px;
//             height: 5.6px;
//         }

//         .gun_class_section_title {
//             width: 800px;
//             font-size: 45px;
//             margin: 0;
//             margin-top: 20px;
//         }

//         .gun_class_guns {
//             gap: 20px;
//             width: 800px;
//         }

//         // Gun Component :
//         .gun_component {
//             width: 300px;
//             height: auto;
//             padding: 8px;
//             margin: 0;
//             margin-bottom: 30px;
//             // gap: 10px;

//             .gun_name {
//                 width: 260px;
//                 font-size: 24px;
//             }

//             .gun_challenges {
//                 gap: 8px;

//                 // Basic Challenge:
//                 .gun_basic_challenge {
//                     gap: 8px;

//                     // Basic Challenge Text:
//                     .gun_basic_challenge_text {
//                         font-size: 16px;
//                     }
//                 }

//                 // Divider:
//                 .gun_challenge_divider {
//                     width: 260px;
//                     height: 5.6px;
//                     margin-top: 10px;
//                     margin-bottom: 10px;
//                 }

//                 // Mastery Challenge:
//                 .gun_mastery_challenge {
//                     gap: 8px;

//                     // Mastery Challenge Text:
//                     .gun_mastery_challenge_text {
//                         font-size: 16px;
//                     }
//                 }
//             }

//             // Tracking (0/50) text styling
//             .gun_slider_tracking {
//                 font-size: 10px;
//             }
//         }

//         // Basic Challenge Slider Styling:
//         .gun_basic_slider_with_tracking {
//             // width: 100%;
//             height: auto;

//             .gun_basic_slider {
//                 // width: 260px;

//                 &::-webkit-slider-runnable-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }


//         }

//         // Mastery Challenge Slider Styling:
//         .gun_mastery_slider_with_tracking {
//             width: 300px;

//             .gun_mastery_slider {
//                 width: 260px;
//                 height: auto;

//                 &::-webkit-slider-runnable-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }
//         }
//     }

//     .gun_page_top {
//         .gun_page_top_tracker_and_title {
//             .gun_page_top_title {
//                 font-size: 35px;
//                 width: 500px;
//             }
//         }
//     }
// }

// //Above 1440px sizes:
// @media (min-width: 1440px) {
//     .gun_class_section {
//         gap: 10px;

//         .gun_class_section_divider {
//             width: 1200px;
//             height: 5.6px;
//         }

//         .gun_class_section_title {
//             width: 1200px;
//             font-size: 45px;
//             margin: 0;
//             margin-top: 20px;
//         }

//         .gun_class_guns {
//             gap: 20px;
//             width: 1200px;
//         }

//         // Gun Component :
//         .gun_component {
//             width: 300px;
//             height: auto;
//             padding: 8px;
//             margin: 0;
//             margin-bottom: 30px;
//             // gap: 10px;

//             .gun_name {
//                 width: 260px;
//                 font-size: 24px;
//             }

//             .gun_challenges {
//                 gap: 8px;

//                 // Basic Challenge:
//                 .gun_basic_challenge {
//                     gap: 8px;

//                     // Basic Challenge Text:
//                     .gun_basic_challenge_text {
//                         font-size: 16px;
//                     }
//                 }

//                 // Divider:
//                 .gun_challenge_divider {
//                     width: 260px;
//                     height: 5.6px;
//                     margin-top: 10px;
//                     margin-bottom: 10px;
//                 }

//                 // Mastery Challenge:
//                 .gun_mastery_challenge {
//                     gap: 8px;

//                     // Mastery Challenge Text:
//                     .gun_mastery_challenge_text {
//                         font-size: 16px;
//                     }
//                 }
//             }

//             // Tracking (0/50) text styling
//             .gun_slider_tracking {
//                 font-size: 10px;
//             }
//         }

//         // Basic Challenge Slider Styling:
//         .gun_basic_slider_with_tracking {
//             // width: 100%;
//             height: auto;

//             .gun_basic_slider {
//                 // width: 260px;

//                 &::-webkit-slider-runnable-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }


//         }

//         // Mastery Challenge Slider Styling:
//         .gun_mastery_slider_with_tracking {
//             width: 100%;

//             .gun_mastery_slider {
//                 // width: 260px;
//                 height: auto;

//                 &::-webkit-slider-runnable-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 &::-moz-range-track {
//                     width: 260px;
//                     height: 8px;
//                 }

//                 // Slider Thumb Style
//                 &::-webkit-slider-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }

//                 &::-moz-range-thumb {
//                     width: 14px;
//                     height: 8px;
//                 }
//             }
//         }
//     }

//     .gun_page_top {
//         .gun_page_top_tracker_and_title {
//             .gun_page_top_title {
//                 font-size: 40px;
//                 width: 600px;

//             }
//         }
//     }
// }
