// BlackOpsOne
@font-face {
    font-family: 'BlackOpsOne';
    src: url('../fonts/BlackOpsOne-Regular.woff2') format('woff2'),
        url('../fonts/BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// VARIABLES:
$font: BlackOpsOne;
$background_color: #2626267a;
$gun_component_background_color: rgb(25,25,25);
$gun_component_border_color: #D9D9D9;
$gun_component_divider_color: #D9D9D9;
$gun_class_text_color: #D9D9D9;
$gun_component_text_color: #D9D9D9;
$gun_component_slider_color1: #2F6A75;
$gun_component_slider_color2: #262626;
$gun_component_slider_color3: #D9D9D9;
$colour_highlight: #2F6A75;

// MIXINS
@mixin webkit_and_moz_track {
    // Style:    
    background: linear-gradient(90deg, $gun_component_slider_color2 0%, $gun_component_slider_color1 55%, $gun_component_slider_color3 100%);
    border-radius: 4px;
}

@mixin webkit_and_moz_thumb {
    // Style:
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient($gun_component_slider_color3 35%, $gun_component_slider_color2 100%);
    border: none;
    border-radius: 4px;
}

@mixin webkit_and_moz_mastery_track {
    // Style:
    background: linear-gradient(90deg, $gun_component_slider_color3 0%, $gun_component_slider_color1 55%, $gun_component_slider_color2 100%);
    border-radius: 4px;
}

@mixin webkit_and_moz_mastery_thumb {
    // Style:
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient($gun_component_slider_color2 35%, $gun_component_slider_color3 100%);
    border: none;
    border-radius: 4px;
}

//Global styles
.gun_trackers {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.gun_class_section {
    //Style:
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: $background_color;
    box-shadow: 2px 3px 10px black;

    // Not being used anymore
    // .gun_class_section_divider {
    //     //Style
    //     background: $gun_component_divider_color;
    //     border-radius: 10px;
    // }

    .gun_class_section_title_image_div{
        display: flex;
        justify-content: space-between;
        .gun_class_section_title {
            // Layout:
            // display: flex;
            // flex-direction: column;
            margin-left: 43px;
            
    
            //Style:
            color: $gun_class_text_color;
            font-family: $font;
            text-decoration: underline;
            text-shadow: $colour_highlight 0 0 30px;
        }
        .gun_class_image{
            width: 20%;
            // height: 10%;
            
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: center;
            
        }
    }


    .gun_class_guns {
        // Layout:
        display: flex;
        align-items: center;
        overflow-x: scroll;
        white-space: nowrap;
        // box-shadow: 2px 3px 10px black;
        border-radius: 10px;
        padding: 10px;
    }

    // Scrollbar Styling:
    .gun_class_guns {
        scrollbar-color: $gun_component_slider_color1 $gun_component_background_color;
        scroll-snap-type: mandatory;
        
        &::-webkit-scrollbar {
            background-color: $gun_component_background_color;
            border-radius: 30px;
            
        }

        &::-webkit-scrollbar-thumb {
            background: linear-gradient(90deg, $gun_component_slider_color1 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 75%, $gun_component_slider_color1 100%);
            border-radius: 30px;
        }

    }

    // GunComponent styling:
    .gun_component {
        // Layout:
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin-right: 10px;
        // width: 90%;

        // Style:
        border: 2.4px solid $gun_component_border_color;
        background: $gun_component_background_color;
        box-shadow: 2px 3px 10px black;
        margin-top: 5px;
        margin-bottom: 5px;

        .gun_name {
            // Style:
            color: $gun_component_text_color;
            font-family: $font;
            text-decoration-line: underline;
            margin-bottom: 10px;
            text-shadow: $colour_highlight 0 0 30px;
        }

        .gun_challenges {
            // Layout:
            display: flex;
            flex-direction: column;
            // align-items: center;
            padding: 5px;
            width: 250px;

            // Basic Challenge Styling
            .gun_basic_challenge {
                // Layout:
                display: flex;
                // flex-direction: column;
                align-items: flex-start;
                

                // Basic Challenge Text Styling:
                .gun_basic_challenge_text {
                    // Style:
                    color: $gun_component_text_color;
                    text-align: center;
                    font-family: $font;
                    margin-left: 10px;
                }
            }

            // Divider Styling:
            .gun_challenge_divider {
                width: 90%;
                height: 2px;
                margin: 5px auto;

                // Style:
                background: $gun_component_divider_color;
                border-radius: 100px;
            }

            // Mastery Challenge Styling
            .gun_mastery_challenge {
                // Layout:
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                // Mastery Challenge Text Styling:
                .gun_mastery_challenge_text {
                    // Style:
                    color: $gun_component_text_color;
                    text-align: center;
                    font-family: $font;
                    margin-left: 10px;
                }
            }
        }

        // Tracking (0/50) text styling
        .gun_slider_tracking {
            //Style:
            font-family: $font;
            font-size: 10px;
            color: $gun_component_text_color;
            padding-top: 5px;
        }

        .gun_slider_tracking_mastery {
            //Style:
            font-family: $font;
            font-size: 10px;
            color: $gun_component_text_color;
            padding-top: 5px;
            padding-left: 5px;
            width: 10%;
        }

    }

    // Basic Challenge Slider Styling:
    .gun_basic_slider_with_tracking {
        // Layout:
        display: flex;
        

        .gun_basic_slider {
            // Layout:
            width: 90%;

            // Slider Styles:
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;

            // Slider Track Style
            &::-webkit-slider-runnable-track {
                // height: 2px;
                
                @include webkit_and_moz_track;
            }

            &::-moz-range-track {            
                // height: 2px;
                @include webkit_and_moz_track;
            }

            // Slider Thumb Style
            &::-webkit-slider-thumb {
                // height: 10px;
                // width: 10px;
                margin-top: -3px;
                @include webkit_and_moz_thumb;
            }

            &::-moz-range-thumb {
                // height: 10px;
                // width: 10px;
                @include webkit_and_moz_thumb;
            }

            // Slider Hover & Active Style
            &::-webkit-slider-thumb:active {
                background: black;
            }

            &::-webkit-slider-thumb:hover {
                background: black;
            }

            &::-moz-range-thumb::active {
                background: black;
            }

            &::-moz-range-thumb:hover {
                background: black;
            }

        }

        // CHECKBOX STYLING WILL GO HERE:


    }

    // Mastery Challenge Slider Styling:
    .gun_mastery_slider_with_tracking {
        // Layout:
        display: flex;
        width: 95%;


        .gun_mastery_slider {
            // Layout:        
            width: 300px;
            

            // Slider Styles:
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;

            // Slider Track Style
            &::-webkit-slider-runnable-track {
                // height: 4px;
                
                @include webkit_and_moz_mastery_track;
            }

            &::-moz-range-track {
                // height: 4px;
                @include webkit_and_moz_mastery_track;
            }

            // Slider Thumb Style
            &::-webkit-slider-thumb {
                // height: 10px;
                // width: 10px;
                margin-top: -3px;
                @include webkit_and_moz_mastery_thumb;
            }

            &::-moz-range-thumb {
                // height: 10px;
                // width: 10px;
                @include webkit_and_moz_mastery_thumb;
            }

            // Slider Hover & Active Style
            &::-webkit-slider-thumb:active {
                background: black;
            }

            &::-webkit-slider-thumb:hover {
                background: black;
            }

            &::-moz-range-thumb::active {
                background: black;
            }

            &::-moz-range-thumb:hover {
                background: black;
            }

        }
    }
}
.gun_page_top {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: auto;
    padding-bottom: 20px;
    width: 90%;
    background-color: $background_color;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 3px 10px black;

    // .gun_page_top_tracker_and_title {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     flex-grow: 1;
    //     width: 90%;
    //     background-color: $background_colour_of_elements;
    //     border-radius: 10px;
    //     margin: 10px;
        

    //     .gun_page_top_title {
    //         // Style:
    //         color: $gun_component_text_color;
            
    //     }
    // }
}

@media (min-width: 600px) {
    .gun_class_section_title{
        font-size: 20px;
        text-align: center;
    }

    .gun_basic_slider {
        // Slider Track Style
        &::-webkit-slider-runnable-track {
            height: 4px;
            
        }

        &::-moz-range-track {            
            height: 4px;
        }

        // Slider Thumb Style
        &::-webkit-slider-thumb {
            height: 10px;
            width: 10px;
        }

        &::-moz-range-thumb {
            height: 10px;
            width: 10px;
        }
    }

    .gun_mastery_slider_with_tracking {
        .gun_mastery_slider {
            // Slider Track Style
            &::-webkit-slider-runnable-track {
                height: 4px;
                
            }

            &::-moz-range-track {
                height: 4px;
            }

            // Slider Thumb Style
            &::-webkit-slider-thumb {
                height: 10px;
                width: 10px;
            }

            &::-moz-range-thumb {
                height: 10px;
                width: 10px;
            }

        }
    }


}

@media (max-width: 600px) {

    .gun_basic_challenge_text{
        font-size: 12px;
    }
    .gun_mastery_challenge_text{
        font-size: 14px;
    }

    .gun_basic_slider {
        // Slider Track Style
        &::-webkit-slider-runnable-track {
            height: 4px;
            
        }

        &::-moz-range-track {            
            height: 4px;
        }

        // Slider Thumb Style
        &::-webkit-slider-thumb {
            height: 12px;
            width: 16px;
           
        }

        &::-moz-range-thumb {
            height: 12px;
            width: 16px;
        }
    }

    .gun_mastery_slider_with_tracking {
        .gun_mastery_slider {
            // Slider Track Style
            &::-webkit-slider-runnable-track {
                height: 4px;
                
            }

            &::-moz-range-track {
                height: 4px;
            }

            // Slider Thumb Style
            &::-webkit-slider-thumb {
                height: 12px;
                width: 16px;
            }

            &::-moz-range-thumb {
                height: 12px;
                width: 16px;
            }

        }
    }


}

