$background_colour_of_elements: #262626f9;
$font_colour: #d9d9d9;
$link_hilight: #2f6a75;

#header-render {
    position: sticky;
    top: 0;
}

.Header {
    display: flex;
    justify-content: space-between;

    background: $background_colour_of_elements;
    border-radius: 0 0 30px 30px;
    padding: 16px 80px;
    box-shadow: 2px 3px 10px black;

    .Header_title {
        display: flex;
        align-items: center;

        text-shadow: 2px 3px 10px black;

        // width: 500px;
        a {
            color: $font_colour;
            font-size: 20px;
            font-weight: 800;
            transition: color 0.5s ease-in-out, text-shadow 0.3s ease-in-out;

            &:hover,
            &:active {
                text-shadow: 2px 3px 5px $font_colour;
                color: $link_hilight;
            }
        }

        .Logo {
            width: 75px;
            height: 75px;
            // background: #F5F6F7;
            margin-right: 10px;
        }
    }

    .navigation {
        align-self: center;
        // width: 250px;

        .navigation_links {
            a {
                color: $font_colour;
                font-size: 16px;
                font-weight: 800;
                padding: 3px;
                text-decoration: none;
                text-shadow: 2px 3px 10px black;

                transition: color 0.5s ease-in-out, text-shadow 0.3s ease-in-out;

                &:hover,
                &:active {
                    text-shadow: 2px 3px 5px $font_colour;
                    color: $link_hilight;
                }
            }
        }
    }

    .burger-menu-and-links {
        align-self: center;
        display: none;

        .burger-menu {
            display: none;
            width: 75px;
            cursor: pointer;

            .burger-icon {
                display: flex;

                div {
                    background: $font_colour;
                }
            }

            .burger-menu_links {
                position: absolute;
                top: 3%; // burger link phone fix
                right: 5px; // burger link  phone fix
                a {
                    display: flex;
                    flex-direction: column;
                    color: $font_colour;
                    font-size: 16px;
                    padding: 3px;
                    text-decoration: none;
                    text-shadow: 2px 3px 10px black;
                    transition: color 0.5s ease-in-out, text-shadow 0.3s ease-in-out;
                    


                    &:hover,
                    &:active {
                        text-shadow: 2px 3px 5px $font_colour;
                        color: $link_hilight;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .Header {
        padding: 16px 20px;

        .navigation {
            display: none;
        }

        .burger-menu-and-links{
            display: flex;
        }

        div#burger-menu {
            display: flex;
            justify-content: end;
            align-items: center;
        }

        .burger-icon {
            display: block;
            width: 36px;
            height: 36px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .burger-icon div {
            background-color: gray;
            width: 80%;
            height: 4px;
        }
    }
}
