#header-render {
    position: sticky;
    top: 0;
    
}

.Header {
    display: flex;
    justify-content: space-between;

    background: #F5F6F7;
    padding: 16px;
    .Header_title {
        display: flex;
        align-items: center;


        color: #000;
        font-size: 16px;
        font-weight: 800;
        width: 500px;
        .Logo {

            width: 75px;
            height: 75px;
            background: #F5F6F7;
        }
    }

    .navigation {
        align-self: center;
        width: 250px;

        .navigation_links {
            a {
                color: #000;
                font-size: 16px;
                font-weight: 800;
                padding: 3px;
                text-decoration: none;
            }
        }
    }

    .burger-menu{
        display: none;
        width: 75px;
        cursor: pointer;

        .burger-icon {
            display: flex;
        }

        .burger-menu_links{
            a {
                color: #000;
                font-size: 16px;
                font-weight: 800;
                padding: 3px;
                text-decoration: none;
            }
        }
    }


}


@media screen and (max-width: 767px) {
    .Header {
        padding: 10px;
        align-items: center;

        .Header_title {
            width: 100%;
            text-align: center;
        }

        .navigation {
            display: none;
        }

        div#burger-menu{
            display: flex;
        }

        .burger-icon {
            display: block;
            width: 24px;
            height: 24px;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    
        .burger-icon div {
            background-color: gray;
            width: 80%;
            height: 4px;
        }
    }
}
