.home_page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    // align-content: space-between;
    background-color: lightgrey;
    margin: 0;
    height: auto;
    // min-height: 100vh;
    

    .home_page_titles_and_login {
        

        .home_page_titles {

            .home_page_title1 {
                display: flex;
                justify-content: center;
            }

            .home_page_title2 {
                display: flex;
                justify-content: center;
            }
        }
    }

    .home_page_trackers{
        flex-grow: 1;
        background-color: darkgrey;
        // height: 400px;
    }
    // ----
    // Not used but here just in case:
    // .home_page_login_section{}
    
}