$background_colour_of_elements: #2626267a;
$background_colour_of_elements2: #D9D9D9;
$font_colour: #D9D9D9;
$font_colour2: #262626;
$font_colour3: rgb(25, 25, 25);
$link_hilight: #2F6A75;

.home_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    height: auto;


    .home_page_titles_and_login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

        padding-bottom: 20px;
        width: 90%;
        background-color: $background_colour_of_elements;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 2px 3px 10px black;



        .home_page_titles {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $font_colour;
            margin-bottom: 20px;

            .home_page_title1 {
                // font-size: 45px;
                text-align: center;
                text-shadow: 2px 3px 10px black;
                margin-bottom: 0;
            }

            .home_page_title2 {
                color: $link_hilight;
                // font-size: 40px;
                font-weight: 800;
                text-align: center;
                text-decoration: none;
                text-shadow: 2px 3px 10px $font_colour;
                transition: color .5s ease-in-out, text-shadow .3s ease-in-out;

                &:hover,
                &:active {
                    // box-shadow: inset 100px 0 0 0 $font_colour;
                    color: $font_colour3;
                    text-shadow: 0 0 10px $link_hilight;
                }

                // margin-bottom: 10px;
            }
        }

        // .home_page_login_section {
        //     display: flex;
        //     justify-content: center;
        //     // margin-bottom: 30px;


            // div {

            //     .login-div-opens-modal {
            //         border-radius: 10px;
            //         // font-size: 20px;
            //         color: $font_colour2;
            //         background-color: $background_colour_of_elements2;
            //         box-shadow: 2px 3px 10px black;
            //         transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
            //         cursor: pointer;
            //         padding: 10px;

            //         &:hover,
            //         &:active {
            //             color: $link_hilight;
            //             box-shadow: 0 0 10px #2F6A75;
            //         }
            //     }
            // }
        // }
    }

    .home_page_trackers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: 90%;
        background-color: $background_colour_of_elements;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 2px 3px 10px black;
    }

    // ----
    // Not used but here just in case:
    // .home_page_login_section{}

}

@media (min-width: 501px) {
    .home_page_login_section {
        margin-bottom: 30px;
    }

    .home_page_titles_and_login {
        margin-bottom: 20px;
    }

    .home_page_title1 {
        font-size: 40px;
    }

    .home_page_title2 {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .login-div-opens-modal {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home_page_login_section {
        margin-bottom: 10px;
    }

    .home_page_titles_and_login {
        margin-bottom: 5px;
    }

    .home_page_title1 {
        font-size: 20px;
    }

    .home_page_title2 {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .login-div-opens-modal {
        font-size: 10px;
    }
}