// VARIABLES:
$background_colour_of_elements: #2626266c;
$font_colour: #D9D9D9;
$font_colour2: #2F6A75;
$progressbar_background_colour: rgb(25, 25, 25);
$label_colour: #D9D9D9;


.orion_tracker {
    // Layout:
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98.2%;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;

    //Style:
    border-radius: 10px;
    background: linear-gradient($font_colour2 0%, $background_colour_of_elements 60%);
    box-shadow: 0 10px 20px black;

    .orion_tracker_title_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $font_colour;

        .orion_tracker_title {
            // font-size: 40px;
            text-shadow: 2px 3px 10px black;
        }

        .orion_tracker_title_percentage_left {
            // font-size: 30px;
            color: $progressbar_background_colour;
            text-shadow: $label_colour 0 0 12px;
        }

    }

    .orion_progress_bar {
        display: grid;
        grid-template-columns: 1fr 65px;
        grid-template-rows: 20px;
        box-shadow: 0 0px 20px $font_colour2;
        height: 20px;
        width: 98%;
        background-color: $progressbar_background_colour;
        border-radius: 50px;
        margin: 10px;



        .orion_progress_bar_filler {
            grid-column: 1 / 3;
            grid-row: 1 / 2;

            height: 100%;
            background-image: url(../img/orion-camo.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: inherit;
            text-align: right;
        }

        .orion_tracker_label {
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            right: 0;
            margin-right: 5px;
            color: $label_colour;
            line-height: 20px;
            font-size: 18px;
            font-weight: 600;
            text-shadow: 2px 3px 5px black;
        }
    }

}

.mastery_tracker {
    // Layout:
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 90%;
    height: auto;
    padding: 10px;

    //Style:
    border-radius: 10px;

    .mastery_image {
        display: flex;
        flex-direction: column;
        justify-content: end;

        width: 100%;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        box-shadow: 0 1px 10px black;

        &-Gold {
            background-image: url(../img/gold-camo.jpg);
        }

        &-Platinum {
            background-image: url(../img/platinum-camo.jpg);
        }

        &-Polyatomic {
            background-image: url(../img/polyatomic-camo.jpg);
        }
    }

    .mastery_tracker_title_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        color: $font_colour;
        font-stretch: expanded;

        .mastery_tracker_title {
            fill: none;
            text-shadow: 2px 3px 5px black;
            -webkit-text-stroke: 1px $background_colour_of_elements;
            // -webkit-text-stroke
            margin-bottom: 30px;
            text-align: center;
        }
    }

    .mastery_progress_bar {
        display: grid;
        grid-template-columns: 1fr 55px;
        grid-template-rows: 20px;

        height: 20px;
        width: 100%;
        background-color: $progressbar_background_colour;
        border-radius: 50px;
        margin: 10px 0;
        box-shadow: 0 1px 10px black;

        .mastery_progress_bar_filler {
            grid-column: 1 / 3;
            grid-row: 1 / 2;

            height: 100%;
            background-color: black;
            background-repeat: no-repeat;
            border-radius: inherit;
            text-align: right;
        }

        .mastery_tracker_label {
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            right: 0;
            margin-right: 5px;
            color: $label_colour;
            line-height: 20px;

            font-size: 15px;
            font-weight: 600;
            text-shadow: 2px 3px 5px black;
        }
    }
}

.confetti {
    position: absolute;
    top: 16%;
    height: 75%;
}

// FONT SIZES with @media
@media (min-width: 768px) {
    .orion_tracker {
        .orion_tracker_title {
            font-size: 40px;
        }

        .orion_tracker_title_percentage_left {
            font-size: 30px;
        }
    }

    .mastery_tracker_title {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .orion_tracker {
        .orion_tracker_title {
            font-size: 40px;
        }

        .orion_tracker_title_percentage_left {
            font-size: 30px;
        }
    }

    .mastery_tracker_title {
        font-size: 18px;
    }
}

@media (max-width: 700px) {

    .mastery_tracker_title {
        font-size: 16px;

    }
}

@media (max-width: 633px) {

    .orion_tracker {
        .orion_tracker_title {
            font-size: 30px;
        }

        .orion_tracker_title_percentage_left {
            font-size: 20px;
        }
    }


    .mastery_tracker_title {
        font-size: 16px;

    }
}

@media (max-width: 500px) {

    .orion_tracker {
        .orion_tracker_title {
            font-size: 25px;
        }

        .orion_tracker_title_percentage_left {
            font-size: 18px;
        }
    }


    .mastery_tracker_title {
        font-size: 14px;

    }
}

@media (max-width: 400px) {

    .orion_tracker {
        .orion_tracker_title {
            font-size: 18px;
        }

        .orion_tracker_title_percentage_left {
            font-size: 15px;
        }
    }


    .mastery_tracker_title {
        font-size: 14px;

    }
}