// BlackOpsOne
@font-face {
    font-family: 'BlackOpsOne';
    src: url('../../public/fonts/BlackOpsOne-Regular.woff2') format('woff2'),
        url('../../public/fonts/BlackOpsOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// VARIABLES:
$font: BlackOpsOne;
$background_colour: #a6a6a6;
$progressbar_background_colour: #000000;
$font_colour: rgb(255, 255, 255);
$label_colour: white;

.mastery_tracker {
    // Layout:
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

    //Style:
    font-family: $font;
    border-radius: 10px;
    // background-color: $background_colour;

    .mastery_image {
        display: flex;
        flex-direction: column;
        justify-content: end;

        width: 70%;
        height: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;

        &-Gold {
            background-image: url(mastery_camo_pics/gold-camo.jpg);

        }

        &-Platinum {
            background-image: url(mastery_camo_pics/platinum-camo.jpg);
        }

        &-Polyatomic {
            background-image: url(mastery_camo_pics/polyatomic-camo.jpg);
        }
    }

    .mastery_tracker_title_div {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $font_colour;
        font-stretch: expanded;

        .mastery_tracker_title {
            font-weight: bold;
        }
    }

    .mastery_progress_bar {
        position: relative;
        height: 20px;
        width: 70%;
        background-color: $progressbar_background_colour;
        border-radius: 50px;
        margin: 10px;

        .mastery_progress_bar_filler {
            height: 100%;
            background-color: black;
            background-repeat: no-repeat;
            border-radius: inherit;
            text-align: right;

            .mastery_tracker_label {
                position: absolute;
                right: 0;
                margin-right: 5px;
                color: $label_colour;
                line-height: 20px;

                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}


@media (min-width: 768px) {

    .mastery_tracker {
        width: 240px;
        font-size: 14px;
    }
}

@media (max-width: 767px) {

    .mastery_tracker {
        width: 200px;
        font-size: 10px;
    }

}

@media (min-width: 1024px) {

    .mastery_tracker {
        width: 300px;
        font-size: 16px;
    }

}

@media (min-width: 1440px) {

    .mastery_tracker {
        width: 300px;
        font-size: 16px;
    }

}